@charset "UTF-8";

/* FONTES */
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-BoldItalic.ttf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.imagem img {
  max-width: 350px;
}

/* BASE */
body {
  font-family: 'Open Sans', sans-serif;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* TOPO */
.topo {
  background: url(../img/banner.png) no-repeat top center;
  background-size: cover;
  padding: 188px;
  color: white;
}

.topo h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.topo span {
  color: #feec00;
}

.topo p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #feec00;
  font-weight: bold;
}

/* BOTÃO */
.topo button {
  border: none;
  background: linear-gradient(#00c3fa, #0060eb);
  padding: 23px;
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  font-weight: 700;
  border-radius: 7px;
}

.botao:hover {
  background: linear-gradient(#3c3c3c, #010101);
}

/* estilos secao 1 */
.secao {
  padding: 80px 0;
}

.linha {
  display: flex;
  align-items: center;
  gap: 40px;
}

.texto h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3a4a92;
  margin-bottom: 80px;
}

.texto p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.texto {
  flex: 2;
}

.imagem {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Estilos secao 2 */
.fundo {
  background: url(../img/eletricista.png) no-repeat center center;
  background-size: cover;
  height: 478px;
  margin-bottom: 80px;
}

.fundo .linha {
  justify-content: center;
  gap: 60px;
}

.fundo .imagem img {
  max-width: 420px;
  margin-top: 32px;
}

.fundo .texto {
  max-width: 500px;
}

.tclaro h2{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  color:  white;
  font-weight: bold;
}

.tclaro p {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

/* Estilos da secao 3 */

.secao-3 h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
  color: black;
}

.cor-2 {
  color: #dfcf00;
}

.lista-servicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0px;
}

.lista-servicos li{
  background: linear-gradient(#04addb, #0043a1);
  width: 300px;
  height: 400px;
  padding: 20px 20px 30px 20px;
  font-weight: bold;
  border-radius: 30px 10px;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #feec00;
  box-shadow: 0px 13px 21px 0px rgb(0 0 0/56%);
  margin-bottom: 50px;
}

.cor {
  color: #feec00;
}

.secao-3 li h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.secao-3 li p{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top: 15px;
}

.secao-3 li img {
  margin-top: 10px;
}

.saiba-mais {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 8px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saiba-mais::before {
  color: #fac105;
  content: "➜";
  margin-right: 10px;
  font-size: 16px;
}

.saiba-mais:hover {
  background-color: #046616;
}