@charset "UTF-8";

/* FONTES */
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-BoldItalic.ttf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;700&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.imagem img {
  max-width: 350px;
}

/* BASE */
body {
  font-family: 'Poppins', Arial, sans-serif;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* TOPO */
.topo {
  background: url(../img/banner.png) center/cover no-repeat;
  padding: 150px 0;
  color: white;
}

.topo h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.topo span {
  color: #feec00;
}

.topo p {
  margin: 20px 0;
  color: #feec00;
  font-weight: bold;
}

/* BOTÃO */
.topo button {
  padding: 15px 30px;
  border: none;
  background: linear-gradient(#00c3fa, #0060eb);
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  cursor: pointer;
  border-radius: 7px;
}

/* SEÇÕES */
.secao {
  padding: 80px 0;
}

.linha {
  display: flex;
  align-items: center;
  gap: 40px;
}

.texto h2 {
  font-size: 40px;
  color: #3a4a92;
  margin-bottom: 20px;
}

.texto p {
  font-family: 'Poppins', Arial, sans-serif;
}

.texto {
  flex: 2;
}

.imagem {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* SEÇÃO COM FUNDO */
.fundo {
  background: url(../img/eletricista.png) no-repeat center center;
  background-size: cover;
  height: 478px;
  margin-bottom: 10px;
}

.fundo .linha {
  justify-content: center;
  gap: 60px;
}

.fundo .imagem img {
  max-width: 420px;
  margin-top: 31px;
}

.fundo .texto {
  max-width: 500px;
}


.claro h2,
.claro p {
  color: white;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .linha {
    flex-direction: column;
    text-align: center;
  }

  .topo {
    padding: 100px 0;
    text-align: center;
  }

}