@charset "UTF-8";

/* FONTES */
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-BoldItalic.ttf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;700&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.imagem img {
  max-width: 350px;
}

/* BASE */
body {
  font-family: 'Poppins', Arial, sans-serif;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* TOPO */
.topo {
  background: url(../img/banner.png) no-repeat top center;
  background-size: cover;
  padding: 188px;
  color: white;
}

.topo h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.topo span {
  color: #feec00;
}

.topo p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #feec00;
  font-weight: bold;
}

/* BOTÃO */
.topo button {
  border: none;
  background: linear-gradient(#00c3fa, #0060eb);
  padding: 23px;
  color: white;
  text-transform: uppercase;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
  font-weight: bold;
  border-radius: 7px;
}

.botao:hover {
  background: linear-gradient(#3c3c3c, #010101);
}

/* estilos secao 1 */
.secao {
  padding: 80px 0;
}

.linha {
  display: flex;
  align-items: center;
  gap: 40px;
}

.texto h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3a4a92;
}

.texto p {
  font-family: 'Poppins', Arial, sans-serif;
}

.texto {
  flex: 2;
}

.imagem {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Estilos secao 2 */
.fundo {
  background: url(../img/eletricista.png) no-repeat center center;
  background-size: cover;
  height: 478px;
  margin-bottom: 10px;
}

.fundo .linha {
  justify-content: center;
  gap: 60px;
}

.fundo .imagem img {
  max-width: 420px;
  margin-top: 31px;
}

.fundo .texto {
  max-width: 500px;
}

.tclaro h2{
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  font-size: 35px;
  color:  white;
  font-weight: bold;
}

.tclaro p {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

/* Estilos da secao 3 */