@charset "UTF-8";

@media (max-width: 768px) {
  .secao-1 {
    flex-direction: column;
  }
}

@font-face {
    font-family: 'poppins';
    src: url(../font/Poppins-BoldItalic.ttf) format('opentype');
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}



body {
    margin: 0;
    padding: 0px;
}

.topo-do-site {
    width: 100%;
    height: 600px;
    background-image: url(../img/banner.png);
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
}


.topo-do-site h1 {
    font-family: "IBM Plex Mono", monospace;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

.topo-do-site p {
    font-family: 'poppins', cursive;
    color: #feec00;
    font-weight: bold;
}

.container {
  max-width: 90%;
  margin-left: 18%;
}

.cor {
    color: #feec00; 
}

.botao {
    border: none;
    background-image: linear-gradient(#00c3fa, #0060eb);
    padding: 23px;
    color: white;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    border-radius: 7px;
}

.botao:hover {
    background-image: linear-gradient(#3c3c3c, #010101);
}

/* Estilos de secao 1 */

.secao-1 {
  display: flex;
  gap: 40px;
}

.grid11 {
  flex: 1;
}

.grid-5 {
  flex: 1;
}

.secao-1 h2 {
  font-family: poppins, Arial;
  font-size: 35px;
  color: #3a4a92;
  font-weight: bold;
  margin-top: 110px;
}

.secao-1 p {
  font-family: poppins, Arial;
  font-weight: bold;
  margin-top: 20px;
}

.imagens-secao img {
    margin-top: 220px;
}